<p>Place rents</p>
<ul>
 <% @rents.each do |r| %>
  <li>
   From <%= r.start_date.strftime('%d/%m/%Y') %>
   to <%= r.end_date.strftime('%d/%m/%Y') %>, 
      <%= link_to 'car', car_path(r.car) %>, 
      <%= link_to 'parking', parking_path(r.parking) %>
      <%= link_to 'show', place_rent_path(r.id) %>
  </li>
 <% end %>
</ul>
