<div>
 <%= form_for @parking do |f| %>
  <div>
   <% if @parking.errors.any? %>
    <p>Sorry, parking can't be saved due to following errors:</p>
    <ul>
     <% @parking.errors.full_messages.each do |m| %>
      <li><%= m %></li>
     <% end %>
    </ul>
   <% end %> 
  </div>
  <fieldset>
   <div>
    <%= f.label :kind %>
    <%= f.select :kind, %w(outdoor indoor private street), include_blank: true %>
   </div>
   <div>
    <%= f.label :hour_price %>
    <%= f.text_field :hour_price %>
   </div>
   <div>
    <%= f.label :day_price %>
    <%= f.text_field :day_price %>
   </div>
   <div>
    <%= f.label :places %>
    <%= f.number_field(:places,min: 0) %>
   </div>
  </fieldset>
  <fieldset>
   <%= f.fields_for :address do |a| %>
    <div>
     <%= a.label :city %>
     <%= a.text_field :city%>
    </div>
    <div>
     <%= a.label :street %>
     <%= a.text_field :street %>
    </div>
    <div>
     <%= a.label :zip_code %>
     <%= a.text_field :zip_code %>
    </div>
   <% end %>
  </fieldset>
  <%= f.submit 'go!' %>
 <% end %>
</div>
