<h1>Parkings </h1>
<div>
 <%= render 'search' %>
</div>
<p><%= link_to 'create new parking', new_parking_path %></p>
<ul>
 <% @parkings.each do |parking| %>
  <li><%= parking.address.city if parking.address.present? %>, 
      <%= link_to('show', parking)%>, 
      <%= link_to 'edit', edit_parking_path(parking) %>, 
      <%= link_to 'delete', parking, :method => :delete, data: {confirm: 'Are you sure?'} %>
   <ul>
    <li>Kind: <%= parking.kind %></li>
    <li>Places: <%= parking.places %> </li>
    <li>Day price: <%= parking.day_price %></li>
    <li>Hour price: <%= parking.hour_price %></li>
    <li><%= link_to 'rent place', new_parking_place_rent_path(parking) %></li>
   </ul>
 </li>
 <% end %>
</ul>
