<ul>
 <li>Address:
  <% if @parking.address.present? %> 
   <%= @parking.address.zip_code %> <%= @parking.address.city %>, ul. <%= @parking.address.street %>
  <% end %>
 </li>
 <li>Places: <%= @parking.places %></li>
 <li>Day price:  <%= @parking.day_price %></li>
 <li>Hour price: <%= @parking.hour_price %></li>
</ul>

<p><%= link_to 'back', parkings_path %></p>
