<h1>Parking details</h1>
<ul>
 <li>Address:
  <%= "#{@parking.address.zip_code}, #{@parking.address.city}, street: #{@parking.address.street}" if @parking.address %>
 </li>
 <li>Places: <%= @parking.places %></li>
 <li>Day price:  <%= @parking.day_price %></li>
 <li>Hour price: <%= @parking.hour_price %></li>
</ul>

<p><%= link_to 'back', :back %></p>
