<%= form_for(@car) do |f| %>
 <div>
  <%= f.label :model %>
  <%= f.text_field :model %>
 </div>

 <div>
  <%= f.label :registration_number %>
  <%= f.text_field :registration_number %>
 </div>
 <%= f.submit 'go' %>
<% end %>
