<h1>Car details</h1>
<ul>
 <li><%= @car.model %></li>
 <li><%= @car.registration_number %></li>
 <li><%= link_to 'Edit', edit_car_path(@car)%></li>
 <li><%= link_to 'Delete', @car, method: :delete, data: {confirm: 'Are sure you want to delete this car?'} %></li>
</ul>

<p><%= link_to 'list all cars', cars_path %></p>
