<!DOCTYPE html>
<html>
<head>
  <title><%= current_controller_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
 <ul>
  <li><%= link_to 'cars', cars_path %></li>
  <li><%= link_to 'parkings', parkings_path %></li>
  <li><%= link_to 'place rents', place_rents_path %></li>
 </ul>
</nav>

<%= render 'partials/flash_message' %>
<%= yield %>

</body>
</html>
